<div flex="50" ng-repeat="item in main.brands | filter:filterBrands" class="ng-scope flex-50" style="">
                <md-checkbox ng-checked="main.exists(item, main.fl.brands);" ng-click="main.toggle(item, main.fl.brands);" tabindex="0" type="checkbox" role="checkbox" class="md-blue-theme" aria-checked="false" aria-label="Estelle"><div class="md-container md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox=""><div class="md-icon"></div></div><div ng-transclude="" class="md-label"><span class="ng-binding ng-scope">
                    Estelle
                </span></div></md-checkbox>
                </div>